<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ServiceBay</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ServiceBay</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MvcAuction" asp-action="Index">Auction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MvcBid" asp-action="Index">Bid</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <div class="wrapper">
                            <div class="notification_wrap">
                                <div class="notification_icon" id="icon">
                                    <img src="~/css/bell.png" style="width:30px;height:30px"> <span class="caret"></span>
                                </div>
                                <div class="dropdown" id="dropdownList">
                                    <div class="notify_item">
                                        <div class="notify_info">
                                            <p id="first">Alex commented on<span>Timeline Share</span></p>
                                            <span class="notify_time">10 minutes ago</span>
                                        </div>
                                    </div>
                                    <div class="notify_item">
                                        <div class="notify_info">
                                            <p>Ben hur commented on your<span>Timeline Share</span></p>
                                            <span class="notify_time">55 minutes ago</span>
                                        </div>
                                    </div>
                                    <div class="notify_item">
                                        <div class="notify_info">
                                            <p>Meryn trant liked your<span>Cover Picture</span></p>
                                            <span class="notify_time">2 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="notify_item">
                                        <div class="notify_info">
                                            <p>John wick commented on your<span>Profile Picture</span></p>
                                            <span class="notify_time">6 hours ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ServiceBay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
<script>
    $(document).ready(function () {
        $(".notification_icon").click(function () {
            $(".dropdown").toggleClass("active");
        })
    });

    function Notification(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DetailsForNoti")",
            data: {id: id},
            dataType: "json",
            success: function (response) {
                var myJson = response;
                console.log(myJson.value);
                if (response != null) {
                    console.log("yesss");
                    //var newRow = '<p>Jó vagy geci:</p>';
                    //$('#first').html(newRow);
                }
                return myJson;
            }
        });
    }

    function Checking() {
        var first = Notification(26);
        var second = setTimeout(Notification(26), 1000);
        if (first.value != second.value) {
            var newRow = '<p>You got outbid by:</p>' + second.value + 'DKK';
            $('#first').html(newRow);
        }
    }
     
    $(document).ready(function () {
        setInterval(Notification(26), 1000);
    });
</script>
