<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ServiceBay</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ServiceBay</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MvcAuction" asp-action="Index">Auction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MvcBid" asp-action="Index">Bid</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <div class="wrapper">
                            <div class="notification_wrap">
                                <div class="notification_icon" id="bellicon">
                                    <img src="~/css/bell.png" style="width:30px;height:30px"> <span class="caret"></span>
                                </div>
                                <div class="dropdown" id="dropdownList">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" id="userDropdown" style="width:30px;height:30px">
                        <div class="notification_icon" id="usericon" onclick="window.location.href='/MvcPerson/Details'">
                            <img src="~/css/user.png" style="width:30px;height:30px" id="userimg"> <span class="caret"></span>
                        </div>
                        <div class="dropdown-content" id="ddowncont">
                            <a onclick="window.location.href='/MvcAuction/AllSellerAuctionsView'">My auctions</a>
                            <a href="#">My bids</a>
                            <a href="#">Log out</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ServiceBay - Group E
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
    <script>
    $(document).ready(function () {
        $("#bellicon").click(function () {
            $(".dropdown").toggleClass("active");
        })

    });

        function CompareBids() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PricesForNotification")",
                //data: { id: id },
                dataType: "json",
                success: function (response) {
                    let list = response.value;
                    if (list.length != 0) {
                        var dropdown = document.getElementById("dropdownList");
                        list.forEach(function (element) {
                            newlistitem = document.createElement("li");
                            newdiv = document.createElement("div");
                            newhr = document.createElement("hr");
                            newlistitem.setAttribute("style", "list-style-type: none");
                            newdiv.setAttribute("id", "div_demo");
                            newhr.setAttribute("style", "height:1px;border:none;color:#333;background-color:#333;");


                            newdiv.innerHTML = "You got a new bid on your auction. The new Price is: " + element + " DKK <br>";

                            dropdown.appendChild(newlistitem);
                            newlistitem.appendChild(newdiv);
                            newlistitem.appendChild(newhr);
                        });
                    }
                }
            })
        };

        function SetList() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("SetList")",
                //data: { id: id },
                dataType: "json",
                success: function (response) {
                    const list = response.value;
                    console.log(list);
                }
            })
        };

    $(document).ready(function () {
        SetList();
        setInterval(function () {
            CompareBids();
        }, 3000);
    });

    </script>

<style>

    #userimg {
        cursor:pointer;
    }

    #userDropdown {
        margin-left: 15px;
        margin-top: 5px;
        position: relative;
        display: inline-block;
    }
    
    #ddowncont {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    #ddowncont a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    #ddowncont a:hover {
        background-color: #ddd;
    }

    #userDropdown:hover #ddowncont {
        display: block;
    }

</style>
