@model ServiceBay.Dto.PersonViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/MvcPerson/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="personDto.Fname" class="control-label">First name</label>
                <input asp-for="personDto.Fname" class="form-control" />
                <span asp-validation-for="personDto.Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personDto.Lname" class="control-label">Last name</label>
                <input asp-for="personDto.Lname" class="form-control" />
                <span asp-validation-for="personDto.Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personDto.Phoneno" class="control-label">Phone number</label>
                <input asp-for="personDto.Phoneno" class="form-control" />
                <span asp-validation-for="personDto.Phoneno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personDto.Email" class="control-label">Email</label>
                <input asp-for="personDto.Email" class="form-control" />
                <span asp-validation-for="personDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personDto.PasswordHash" class="control-label">Password</label>
                <input asp-for="personDto.PasswordHash" class="form-control" />
                <span asp-validation-for="personDto.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addressDto.StreetName" class="control-label">Street name</label>
                <input asp-for="addressDto.StreetName" class="form-control" />
                <span asp-validation-for="addressDto.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addressDto.StreetNumber" class="control-label">Street number</label>
                <input asp-for="addressDto.StreetNumber" class="form-control" />
                <span asp-validation-for="addressDto.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cityDto.Zipcode" class="control-label">Zipcode</label>
                <input asp-for="cityDto.Zipcode" class="form-control" />
                <span asp-validation-for="cityDto.Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cityDto.CityName" class="control-label">City</label>
                <input asp-for="cityDto.CityName" class="form-control" />
                <span asp-validation-for="cityDto.CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cityDto.Country" class="control-label">Country</label>
                <input asp-for="cityDto.Country" class="form-control" />
                <span asp-validation-for="cityDto.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

