@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ServiceBay</h1>

    <p>A bidding platform designed for students who want to save money on everyday services.</p>
</div>

<body>

</body>